In [242]:
import pandas as pd #Importing pandas libraries

In [243]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv' #URL of the dataset

In [244]:
chipo = pd.read_csv(url, sep='\t') # Reads dataset into dataframe

In [245]:
print(chipo.head()) #Display the first few rows of dataset to prove it's loaded correctly

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

In [246]:
print(chipo.head(10)) #This displays the first 10 rows of the dataset

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

In [247]:
num_observations = chipo.shape[0] #Sorting the number of rows in the dataset.

In [248]:
print(f"The Number of observations in the dataset are: {num_observations}") #This displays the result

The Number of observations in the dataset are: 4622

In [249]:
num_columns = chipo.shape[1] #We get the number of columns in the dataset

In [250]:
print(f"Number of columns in the dataset: {num_columns}") #This displays the result

Number of columns in the dataset: 5

In [251]:
print(f" The Column names in the dataset are: {chipo.columns}") #Displays the column name of the dataset

 The Column names in the dataset are: Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [252]:
print(f"Dataset Index: {chipo.index}") #Displays the index of dataframe

Dataset Index: RangeIndex(start=0, stop=4622, step=1)

In [253]:
most_ordered_item = chipo['item_name'].value_counts().idxmax() #This helps finding the most ordered item

In [254]:
print(f"The most ordered item is: {most_ordered_item}") #This displays the result

The most ordered item is: Chicken Bowl

In [255]:
most_ordered_quantity = chipo[chipo['item_name'] == most_ordered_item]['quantity'].sum() #Getting the total quantity of the most-ordered item

In [256]:
print(f"The Total quantity of '{most_ordered_item}' ordered is: {most_ordered_quantity}") #This displays the result

The Total quantity of 'Chicken Bowl' ordered is: 761

In [257]:
most_ordered_choice_description = chipo['choice_description'].value_counts().idxmax() #This finds the most-ordered item in the choice description column

In [258]:
print(f"The most ordered choice_description is are: {most_ordered_choice_description}") #This displays the result.

The most ordered choice_description is are: [Diet Coke]

In [259]:
total_items_ordered = chipo['quantity'].sum() #Calculates total number of items ordered

In [260]:
print(f"Total number of items ordered: {total_items_ordered}") #This displays the result

Total number of items ordered: 4972

In [261]:
chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float) ## Removing the dollar sign and converting the 'item_price' column to float

In [262]:
print(chipo.head()) #Displays the first few rows to confirm the conversion

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [263]:
print(f"The Data type of 'item_price'is: {chipo['item_price'].dtype}") #This checks the data type of the 'item price' column

The Data type of 'item_price'is: float64

In [264]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x).replace('$', '')))

In [265]:
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [266]:
chipo['revenue'] = chipo['item_price'] * chipo['quantity'] #Calculating the total revenue

In [267]:
total_revenue = chipo['revenue'].sum() #Calculating total revenue fo rthe period

In [268]:
print(f"Total revenue for the period: ${total_revenue:.2f}")

Total revenue for the period: $39237.02

In [269]:
total_orders = chipo['order_id'].nunique() #Counting the number of unique orders

In [270]:
print(f"Total number of orders: {total_orders}") #This displays the result

Total number of orders: 1834