In [61]:
import pandas as pd
import numpy as np #This imports libraries pandas and numpy.

In [62]:
#Now we generate three series with random numbers.

In [63]:
series1 = pd.Series(np.random.randint(1, 5, 100)) #Random integers from 1 to 4: length 100

In [64]:
series2 = pd.Series(np.random.randint(1, 4, 100)) #Random integers from 1 to 3: length 100

In [65]:
series3 = pd.Series(np.random.randint(10000, 30001, 100)) ##Random integers from 10000 to 30000: length 100

In [66]:
#This verifies by displaying a few entries of each series proving they are generated correctly.

In [67]:
print("Series 1:")

Series 1:

In [68]:
print(series1.head())

0    3
1    2
2    4
3    1
4    4
dtype: int32

In [69]:
print("\nSeries 2:")

Series 2:

In [70]:
print(series2.head())

0    1
1    1
2    3
3    2
4    3
dtype: int32

In [71]:
print("\nSeries 3:")

Series 3:

In [72]:
print(series3.head())

0    21551
1    24637
2    22968
3    24506
4    14578
dtype: int32

In [73]:
df = pd.DataFrame({'bedrs': series1, 'bathrs': series2, 'price_sqr_meter': series3}) #Combines 3 series into the dataframe

In [74]:
print("Combined DataFrame:")
print(df.head())  #Displays teh first few rows of the dataframe.

Combined DataFrame:
   bedrs  bathrs  price_sqr_meter
0      3       1            21551
1      2       1            24637
2      4       3            22968
3      1       2            24506
4      4       3            14578

In [75]:
bigcolumn = pd.concat([series1, series2, series3], axis=0).reset_index(drop=True) #Creating one column by concatenating the three series

In [76]:
print("One-Column DataFrame:")
print(bigcolumn.head()) #Displays the first few rows of one column data frame

One-Column DataFrame:
0    3
1    2
2    4
3    1
4    4
dtype: int32

In [77]:
print("Length of bigcolumn:", len(bigcolumn)) #Checks the length of one-column dataframe.

Length of bigcolumn: 300

In [78]:
bigcolumn_reindexed = bigcolumn.reset_index(drop=True).reindex(range(300)) #This indexes dataframe

In [79]:
print("Reindexed DataFrame:")
print(bigcolumn_reindexed.tail()) #Displays last few row of the reindexed dataframe

Reindexed DataFrame:
295    12980
296    27473
297    24632
298    16069
299    18147
dtype: int32