In [88]:
import pandas as pd #Imorting the pandas library and naming the alias as 'pd'.

In [89]:
import numpy as np #Importing the numpy library and naming the alias as 'np'.

In [90]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user" #It's the URL of the Dataset.

In [91]:
users = pd.read_csv(url, sep='|') #It reads the dataset into pandas dataframe.

In [92]:
users.head() #It displays the first rows of the dataset to ensure it loaded correctly.

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [93]:
mean_age = users.groupby('occupation')['age'].mean() #This would group data by 'occupation' and also, calculate the mean of 'age'.

In [94]:
mean_age #This would show the result

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [95]:
male_ratio = users.groupby('occupation')['gender'].apply(lambda x: (x == 'M').mean()) #Calculating the male ratio per occupation

In [96]:
male_ratio = male_ratio.sort_values(ascending=False) #Sorting male ratios in decreasing order

In [97]:
male_ratio #This displays the result

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
Name: gender, dtype: float64

In [98]:
min_max_age = users.groupby('occupation')['age'].agg(['min', 'max']) #Groups data by 'occupation' and calculates the min and max ages.

In [99]:
print("The Minimum and Maximum Ages Per Occupation are:") #This displays the result

The Minimum and Maximum Ages Per Occupation are:

In [100]:
print(min_max_age) #This displays the result as well.

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

In [101]:
mean_age_gender = users.groupby(['occupation', 'gender'])['age'].mean() #This calculates mean age by gender and groups 'occupation'

In [102]:
print("Mean Age Per Occupation and Gender are:") #This displays the result

Mean Age Per Occupation and Gender are:

In [103]:
print(mean_age_gender) #This displays the result as well.

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [104]:
gender_counts = users.groupby(['occupation', 'gender']).size().unstack() #Groups data by 'occupation' and 'gender' then counts occurrences as well.

In [105]:
gender_percentage = gender_counts.div(gender_counts.sum(axis=1), axis=0) * 100 #This Calculates the percentage of men and women for each occupation.

In [106]:
gender_percentage.columns = ['Female%', 'Male%'] #This renames the columns

In [107]:
print("The Percentage of Women and Men Per Occupation are:") #This displays the result.

The Percentage of Women and Men Per Occupation are:

In [108]:
print(gender_percentage) #This displays the result too.

                 Female%       Male%
occupation
administrator  45.569620   54.430380
artist         46.428571   53.571429
doctor               NaN  100.000000
educator       27.368421   72.631579
engineer        2.985075   97.014925
entertainment  11.111111   88.888889
executive       9.375000   90.625000
healthcare     68.750000   31.250000
homemaker      85.714286   14.285714
lawyer         16.666667   83.333333
librarian      56.862745   43.137255
marketing      38.461538   61.538462
none           44.444444   55.555556
other          34.285714   65.714286
programmer      9.090909   90.909091
retired         7.142857   92.857143
salesman       25.000000   75.000000
scientist       9.677419   90.322581
student        30.612245   69.387755
technician      3.703704   96.296296
writer         42.222222   57.777778